h1 {
	color: #010CA7;
}
body {  
    background-color: #add8e6;
}
.topbar {
    background-color: aquamarine;
    text-align: center;
}
nav {
    display: grid;
}
.nametitle {
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: aquamarine;
    text-align: center;
}
.aboutme{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 3fr 1fr;
}
.courselist{
    display:grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 50px;
}

@media screen and (min-width: 600px){
    body{
        background-color: #add8e6;
    }
    h1 {
        color: #010CA7;
    }
    .topbar {
        background-color: aquamarine;
        text-align: center;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    footer{
        background-color: aquamarine;
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: center;
    }
}